body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
}

header {
  padding: 40px 20px;
  background: white;
}

h1 {
  color: #d62828;
}

.subtitle {
  color: #555;
}

.historia {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  font-size: 15px;
}

.meta-container {
  margin: 30px;
}

.porcentagem {
  color: #d62828;
  font-weight: bold;
}

.progress-bar {
  width: 90%;
  max-width: 500px;
  height: 18px;
  background: #ddd;
  border-radius: 20px;
  margin: 10px auto;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #ff4d4d, #d62828);
  border-radius: 20px;
  transition: 2s;
}

.doacao-box {
  background: white;
  margin: 30px auto;
  padding: 25px;
  width: 90%;
  max-width: 450px;
  border-radius: 15px;
}

.valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.valores button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #eee;
  cursor: pointer;
}

input {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
}

.doar {
  background: #d62828;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 85%;
}

.confianca {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 30px;
}

.selo {
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
}

footer {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}
